@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-family: 'Fredodko';
  src: url(https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap);
}
